@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --light-gray: rgb(242, 244, 245);
    --dark-green: #002f34;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: var(--light-gray);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    filter: brightness(0.8)
}

.container.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.green-button {
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: large;
    font-size: 16px !important;
}
.green-button span {
    display: block;
    padding: 10px 20px;
    color: var(--dark-green);
    font-weight: bold;
}

.green-button span:hover {
    background-color: var(--dark-green);
    transition-duration: 500ms;
    color: white;
}

