/* SEARCH FORM */

    .search-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--dark-green);
    }

    .search-form .banner {
        width: calc(100% - 10px);
        background-color: rgb(206, 221, 255);
        display: flex;
        align-items: center;
        height: 54px;
        margin-top: 15px;
        border-radius: 5px;
    }

    .search-form .banner h1 {
        font-size: 16px;
        font-weight: unset;
        margin-left: 20px;
    }

    .search-form .banner button {
        margin-right: 20px;
        background-color: unset;
        border: unset;
        color: var(--dark-green);
        cursor: pointer;
    }
    
    .search-form .banner button:first-of-type {
        font-size: large;
        font-weight: bold;
    }
    
    .search-form .banner button:first-of-type div {
        height: 3px;
        background-color: var(--dark-green);
        margin: auto;
        margin-top: 5px;
        transition: transform 0.15s;
    }
    
    .search-form .banner button:first-of-type:hover div {
        transform: scaleX(0.5);
    }

    .search-form .banner button:last-of-type {
        font-size: larger;
    }

    .search-form .banner > div {
        flex: 1;
    }

    .search-form .form-wrapper {
        background-color: white;
        margin: 40px 0;
        height: 72px;
        width: 1200px;
        display: flex;
        align-items: center;
        position: relative;
    }

    /* inputs */
    .search-form .form-wrapper input {
        border: none;
        height: 100%;
        font-size: 16px
    }

    .search-form .form-wrapper input::placeholder {
        opacity: 0.7;
        color: var(--dark-green);

    }

    .search-form .form-wrapper input:focus {
        outline: none;
    }

    .search-form .form-wrapper .input-location {
        padding-right: 5px;
        flex: 1;
    }

    .search-form .form-wrapper .input-location.bold-placeholder::placeholder {
        font-weight: bold;
        color: var(--dark-green);
    }

    .search-form .form-wrapper .input-search {
        width: 670px;
    }

    /* dropdowns */

        /* input search dropdown */
        
    .search-form .form-wrapper .input-search-dropdown {
        /* display: none; */
        position: absolute;
        width: 785px;
        background-color: white;
        box-shadow: 1px 1px 12px rgb(207, 207, 207);
        top: 75px;
        z-index: 3;
    }

    .search-form .form-wrapper .input-search-dropdown .suggestion {
        margin: 0px 15px;
        padding: 15px 0px;
        border-bottom: 1px solid var(--light-gray);
        text-indent: 20px;
        cursor: pointer;
    }

    .search-form .form-wrapper .input-search-dropdown hr {
        width: 96%;
        margin: auto;
        opacity: 0.1;
    }

    .search-form .form-wrapper .input-search-dropdown .suggestion:hover {
        background-color: var(--dark-green);
        color: white;
    }

    .search-form .form-wrapper .input-search-dropdown .product-suggestions .suggestion:hover span {
        color: white;
    }

            /* brand suggestions */
    .search-form .form-wrapper .input-search-dropdown .brand-suggestions {
        display: flex;
        flex-direction: column;
    }

    .search-form .form-wrapper .input-search-dropdown .brand-suggestions .suggestion {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: var(--dark-green);
        text-transform: capitalize;
    }

    .search-form .form-wrapper .input-search-dropdown .brand-suggestions .suggestion:hover {
        color: white;
    }

            /* product suggestions */
    .search-form .form-wrapper .input-search-dropdown .product-suggestions .suggestion {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: var(--dark-green);
    }

    .search-form .form-wrapper .input-search-dropdown .product-suggestions .suggestion:hover {
        color: white;
    }


    .search-form .form-wrapper .input-search-dropdown .product-suggestions .suggestion > span {
        font-size: small;
        color: gray;
    }

    /* .search-form .form-wrapper .input-search-dropdown .product-suggestions .suggestion > span span {
    } */

    .search-form .form-wrapper .input-search-dropdown .product-suggestions .suggestion:last-of-type {
        margin-bottom: 15px;
    }

            /* category suggestions  */
    .search-form .form-wrapper .input-search-dropdown .category-suggestions .suggestion {
        display: block; 
        text-decoration: none;
        color: var(--dark-green);
        text-transform: capitalize;
    }

    .search-form .form-wrapper .input-search-dropdown .category-suggestions .suggestion:first-of-type {
        margin-top: 15px;
    }

    .search-form .form-wrapper .input-search-dropdown .category-suggestions .suggestion:hover {
        color: white;
    }

    /* input location dropdown */
    .search-form .form-wrapper .input-location-dropdown {
        display: none;
        max-height: 421px;
        height: 421px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 75px;
        left: 0;
        box-shadow: 1px 1px 12px rgb(207, 207, 207);
        color: gray;
        flex-direction: column;
        z-index: 3;
    }    
    
    .search-form .form-wrapper .input-location-dropdown .counties-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        /* title */
    .search-form .form-wrapper .input-location-dropdown .counties-title {
        border-bottom: gray 1px solid;
        padding-bottom: 10px;
        margin: 12px;
        margin-bottom: 0px;
        font-size: large;
    }
    
    .search-form .form-wrapper .input-location-dropdown .counties-title > span:hover {
        cursor: pointer;
        color: var(--dark-green);
    }

        /* counties */
    .search-form .form-wrapper .input-location-dropdown .counties {
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        height: 377px;
    }

    .search-form .form-wrapper .input-location-dropdown .counties-column {
        border-right: 1px solid gray;
        width: 25%;
        height: 100%;
        padding-top: 10px;
    }

    .search-form .form-wrapper .input-location-dropdown .counties-column:last-of-type {
        border: none;
    }

        /* county */
    .search-form .form-wrapper .input-location-dropdown .county {
        height: 32px;
        cursor: pointer;
        font-size: large;
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;
        padding-right: unset;
    }
    
    .search-form .form-wrapper .input-location-dropdown .county > span {
        border-bottom: 1px solid rgb(202, 202, 202);
        position: relative;
    }

    .search-form .form-wrapper .input-location-dropdown .county:hover > span {
        border: none;
    }
    
    .search-form .form-wrapper .input-location-dropdown .county:hover {
        color: white;
        background-color: var(--dark-green);
    }

    .search-form .form-wrapper .input-location-dropdown .county iconify-icon {
        margin-right: 0px;
        color: var(--dark-green);
    }
    
        /* bucuresti */
    
    .search-form .form-wrapper .input-location-dropdown .county.bucuresti > span {
        background-color: #ffe091 ;
        color: black;
        border-radius: 3px;
        padding: 2px 7px;
        display: flex;
        align-items: center;
        height: 25px;
        margin-left: -7px;
        border: unset;
        text-decoration: underline;
        text-decoration-color: var(--light-gray);
        text-shadow: 0px 1px 0px #ffffff;
    }

    .search-form .form-wrapper .input-location-dropdown .county.bucuresti:hover {
        background-color: #ffe091;
    }
    
    .search-form .form-wrapper .input-location-dropdown .county.bucuresti:hover > span {
        text-decoration: none;
    }

    .search-form .form-wrapper .input-location-dropdown-tiny {
        position: absolute;
        right : 0;
        top: 75px; 
        width: 200px;
        left: 735px;
        min-height: 50px;
        background-color: white;
        box-shadow: 1px 1px 12px rgb(207, 207, 207);
        z-index: 5;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .search-form .form-wrapper .input-location-dropdown-tiny > .suggestion {
        color: var(--dark-green);
        border-bottom: 1px solid var(--light-gray);
        cursor: pointer;
        padding: 5px;
        text-decoration: none;
    }

    .search-form .form-wrapper .input-location-dropdown-tiny > .suggestion:hover {
        background-color: var(--dark-green);
        color: white;
    }
    .search-form  .form-wrapper .input-distance {
        width: 80px;
        border-left: 1px solid var(--light-gray);
        color: var(--dark-green);
        height: 100%;
        display: flex;
        cursor: pointer;
    }

    .search-form  .form-wrapper .input-distance  > select {
        border: none;
        background-color: white;
        width: 100%;
        color: var(--dark-green);
    }
        /* city menu */
    .search-form .city-menu .counties-title {
        display: flex;
        justify-content: space-between;
    }

    .search-form .city-menu .counties-title > *:last-of-type {
        font-weight: bold;
    }

    .search-form .city-menu .counties-title > *:last-of-type:hover {
        text-decoration: underline var(--light-gray) 1px;
    }

    .search-form .city-menu .counties-column {
        border: none !important;
    }


    /* button */
    .search-form .form-wrapper button {
        background-color: unset;
        border: unset;
        border-left: 1px solid var(--light-gray);
        height: 100%;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: var(--dark-green);
        width: 180px;
    }

    .search-form .form-wrapper button:hover {
        background-color: var(--dark-green);
        transition-duration: 500ms;
        color: white;
    }

    /* span */
    .search-form .form-wrapper > span {
        height: 100%;
        border-left: 1px solid var(--light-gray);
    }

    /* icons */
    .search-form .form-wrapper iconify-icon {
        font-size: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }


/* SEARCH FORM END */
/* CATEGORIES */
    .categories-wrapper {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        color: var(--dark-green);
        position: relative;
        z-index: 1;
        width: 100%;
        overflow: hidden;
    }

    .categories-wrapper h1 {
        font-weight: normal;
        margin-bottom: 20px;
    }

    .categories {
        background-color: white;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        /* position: relative; */

        width: 1233px;
    }

    .category {
        text-decoration: none;
        color:var(--dark-green);
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 137px;
        width: 107px;
        margin: 15px 15px;

        cursor: pointer;
    }
    
    .category .category-img {
        height: 88px;
        width: 88px;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        border-radius: 100px;;
        background-color: var(--light-gray);
        margin-bottom: 10px;
    }

    .category img {
        width: 100%;
    }

    .category .category-name {
        text-align: center;
        text-transform: capitalize;
    }

    .category:hover .category-name {
        background-color: var(--dark-green);
        color: white;
    }

    /* category-dropdown */
    .categories .category-dropdown {
        display: none;
        width: 1200px;
        min-height: 200px;
        position: absolute;
        border: 1px solid var(--light-gray);
        padding: 15px;
    }

    .categories .category-dropdown iconify-icon {
        cursor: pointer;
        color: var(--dark-green);
    }

    .categories .category-dropdown .brands {
        display: flex;
        flex-wrap: wrap;
    }

    .categories .category-dropdown .brands > a {
        text-decoration: none;
        width: 25%;
        padding: 10px; 
        padding-left: 0;     
        display: flex;
        align-items: center;
        color: var(--dark-green);
    }
    
    .categories .category-dropdown .brands > a:hover span {
        cursor: pointer;  
        background-color: var(--dark-green);
        color: white;
    }

    .categories .category-dropdown .title {
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        color: rgb(161, 161, 161)
    }

    .categories .category-dropdown .title a {
        margin-right: 5px;
        cursor: pointer;
        color: var(--dark-green);
        font-weight: bold;
    }

    .categories .category-dropdown .title a:hover {
        background-color: var(--dark-green);
        color: white;
    }
/* CATEGORIES END */
/* ANNOUNCEMENTS */
    .announcements {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 30px;
        background-color: var(--light-gray);
        color: var(--dark-green);

    }

    .announcements h1 {
        font-weight: normal;
        margin-bottom: 20px;
    }

    .announcements .wrapper {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }

    .announcements .announcement{
        height: 500px;
        width: 290px;
        margin-bottom: 15px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .announcements .img-wrapper {
        min-height: 220px;
        max-height: 220px;
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        
    }

    .announcements img {
        width: 100%;
        position: relative;
    }

    .announcements .title {
        margin-top: 15px;
        font-size: large;
        text-align: left;
        text-decoration: none;
        color: var(--dark-green)
    }
    .announcements .title span {
        padding: 3px 0;
    }
    .announcements .title span:hover {
        cursor: pointer;
        background-color: var(--dark-green);
        color: white;
    }

    .announcements .bottom-row {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .announcements .price {
        font-weight: bold;
        font-size: larger;   
     }

     .announcements iconify-icon {
        font-size: larger; 
        color: rgb(161, 161, 161);
        cursor: pointer;
     }

     .announcements iconify-icon:hover {
        color: black;
     }

     .announcements .description {
        text-align: left;
        margin-top: 20px;
        color: gray;
        flex: 1;
        height: 20px;
     }

     .announcements .description span {
        display: block;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
                line-clamp: 4; 
        -webkit-box-orient: vertical;
    }

/* ANNOUNCEMENTS END */