/* SEARCH FORM */

    .search-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--dark-green);
    }

    .search-form .banner {
        width: calc(100% - 10px);
        background-color: rgb(206, 221, 255);
        display: flex;
        align-items: center;
        height: 54px;
        margin-top: 15px;
        border-radius: 5px;
    }

    .search-form .banner h1 {
        font-size: 16px;
        font-weight: unset;
        margin-left: 20px;
    }

    .search-form .banner button {
        margin-right: 20px;
        background-color: unset;
        border: unset;
        color: var(--dark-green);
        cursor: pointer;
    }
    
    .search-form .banner button:first-of-type {
        font-size: large;
        font-weight: bold;
    }
    
    .search-form .banner button:first-of-type div {
        height: 3px;
        background-color: var(--dark-green);
        margin: auto;
        margin-top: 5px;
        transition: transform 0.15s;
    }
    
    .search-form .banner button:first-of-type:hover div {
        transform: scaleX(0.5);
    }

    .search-form .banner button:last-of-type {
        font-size: larger;
    }

    .search-form .banner > div {
        flex: 1;
    }

    .search-form .form-wrapper {
        background-color: white;
        margin: 40px 0;
        height: 72px;
        width: 1200px;
        display: flex;
        align-items: center;
    }

    /* inputs */
    .search-form .form-wrapper input {
        border: none;
        height: 100%;
        font-size: 16px
    }

    .search-form .form-wrapper input::placeholder {
        opacity: 0.7;
        color: var(--dark-green);

    }

    .search-form .form-wrapper input:focus {
        outline: none;
    }

    .search-form .form-wrapper .input-location {
        flex: 1;
    }

    .search-form .form-wrapper .input-search {
        width: 60%;
    }
    
    /* button */
    .search-form .form-wrapper button {
        background-color: unset;
        border: unset;
        border-left: 1px solid var(--light-gray);
        height: 100%;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: var(--dark-green);
    }

    .search-form .form-wrapper button:hover {
        background-color: var(--dark-green);
        transition-duration: 500ms;
        color: white;
    }

    /* span */
    .search-form .form-wrapper span {
        height: 100%;
        border-left: 1px solid var(--light-gray);
    }

    /* icons */
    .search-form .form-wrapper iconify-icon {
        font-size: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }

/* SEARCH FORM END */
/* CATEGORIES */
    .categories-wrapper {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        color: var(--dark-green);
    }

    .categories-wrapper h1 {
        font-weight: normal;
        margin-bottom: 20px;
    }

    .categories {
        background-color: white;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 1233px;

    }

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 137px;
        width: 107px;
        margin: 15px 15px;

        cursor: pointer;
    }
    
    .category .category-img {
        height: 88px;
        width: 88px;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        border-radius: 100px;;
        background-color: var(--light-gray);
        margin-bottom: 10px;
    }

    .category img {
        width: 100%;
    }

    .category .category-name {
        text-align: center;
        text-transform: capitalize;
    }

    .category:hover .category-name {
        background-color: var(--dark-green);
        color: white;
    }
    

/* CATEGORIES END */
/* ANNOUNCEMENTS */
    .announcements {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 30px;
        background-color: var(--light-gray);
        color: var(--dark-green);

    }

    .announcements h1 {
        font-weight: normal;
        margin-bottom: 20px;
    }

    .announcements .wrapper {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }

    .announcements .announcement{
        height: 500px;
        width: 290px;
        margin-bottom: 15px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .announcements .img-wrapper {
        min-height: 220px;
        max-height: 220px;
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        
    }

    .announcements img {
        width: 100%;
        position: relative;
    }

    .announcements .title {
        align-self: flex-start;
        margin-top: 15px;
        font-size: large;
        text-align: left;
        cursor: pointer;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }

    .announcements .title:hover {
        background-color: var(--dark-green);
        color: white;
    }

    .announcements .bottom-row {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .announcements .price {
        font-weight: bold;
        font-size: larger;   
     }

     .announcements iconify-icon {
        font-size: larger; 
        color: rgb(161, 161, 161);
        cursor: pointer;
     }

     .announcements iconify-icon:hover {
        color: black;
     }

     .announcements .description {
        text-align: left;
        margin-top: 20px;
        color: gray;
        flex: 1;
        height: 20px;
     }

     .announcements .description span {
        display: block;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
                line-clamp: 4; 
        -webkit-box-orient: vertical;
    }

/* ANNOUNCEMENTS END */