.container > header {
    background-color: var(--dark-green);
}

.container > header .header-wrapper {
    background-color: var(--dark-green);
    height: 72px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 1200px;
    box-sizing: unset;
    margin: auto;
}

.container > header::before {
    background-color: red;
}

.container > header img {
    cursor: pointer;
}

.container > header .buttons {
    display: flex;
    align-items: center;
}

.container > header button {
    background-color: unset;
    border: unset;
    color: white;
    float: right;
    margin-left: 40px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.container > header button:hover {
    color: #60797c;
}

.container > header button iconify-icon {
    margin-right: 10px;
    font-size: 25px;
}

.container > header .btn-fav iconify-icon {
    margin-right: 0;
}

.container > header .btn-new-announcement {
    background-color: white;
}