.search-page .filters {
    width: 1200px;
    min-height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.search-page .dropdown {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
}

.search-page .dropdown > select {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}

.search-page .dropdown .inputs {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.search-page .dropdown .inputs >input {
    width: 48%;
    height: 100%;
    border: none;
}

.search-page .dropdown .inputs input:focus {
    outline: none;
}